i {
    cursor: pointer;
}



.appBox {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(169, 175, 194, 1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(169, 175, 194, 1);
    box-shadow: 10px 10px 5px 0px rgba(169, 175, 194, 1);
}


.visible i {
    display: none;
}

.visible:hover i {
    display: flex;


}
